<form
  action=""
  method="POST"
  class="bg-light py-5 px-3"
  enctype="multipart/form-data"
>
  <h3 class="text-center text-dark">Update Tie Breaker Question</h3>
  <br />
  <input
    type="text"
    class="form-control-lg w-100 my-2 rounded-0 border border-2 border-secondary p-3"
    name="text"
    value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.text%>"
    placeholder="Enter question"
    required
  />

  <input
    type="file"
    class="file-control-lg w-100 my-2 rounded-0 border border-2 border-secondary p-3"
    name="file"
    accept="image/*"
  />

  <input
    type="number"
    class="form-control-lg w-100 my-2 rounded-0 border border-2 border-secondary p-3"
    name="points"
    value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.points%>"
    placeholder="Enter points"
    required
  />

  <input
    type="number"
    class="form-control-lg w-100 my-2 rounded-0 border border-2 border-secondary p-3"
    name="timer"
    value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.timer%>"
    placeholder="Enter timer in seconds"
    required
  />

  <select
    name="level"
    class="form-select-lg w-100 my-2 rounded-0 border border-2 border-secondary p-3"
    required
  >
    <option value="">Select level</option>

    <% if(findQuestion.tieQuestions[arr-1].tieQuestion.level === "easy"){%>
    <option value="easy" selected>Easy</option>
    <option value="average">Average</option>
    <option value="difficult">Difficult</option>
    <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.level ===
    "average"){%>
    <option value="easy">Easy</option>
    <option value="average" selected>Average</option>
    <option value="difficult">Difficult</option>
    <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.level ===
    "difficult"){%>
    <option value="easy">Easy</option>
    <option value="average">Average</option>
    <option value="difficult" selected>Difficult</option>
    <% } else {%>
    <option value="easy">Easy</option>
    <option value="average">Average</option>
    <option value="difficult">Difficult</option>
    <% } %>
  </select>

  <select
    name="type"
    class="form-select-lg w-100 my-2 rounded-0 border border-2 border-secondary p-3"
    id="questionTypeUpdate"
    required
  >
    <option value="">Select type</option>

    <% if(findQuestion.tieQuestions[arr-1].tieQuestion.type === "trueFalse"){%>
    <option value="trueFalse" selected>True or False</option>
    <option value="multipleChoice">Multiple Choice</option>
    <option value="identification">Identification</option>
    <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.type ===
    "multipleChoice"){%>

    <option value="trueFalse">True or False</option>
    <option value="multipleChoice" selected>Multiple Choice</option>
    <option value="identification">Identification</option>
    <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.type ===
    "identification"){%>

    <option value="trueFalse">True or False</option>
    <option value="multipleChoice">Multiple Choice</option>
    <option value="identification" selected>Identification</option>
    <% } else {%>

    <option value="trueFalse">True or False</option>
    <option value="multipleChoice">Multiple Choice</option>
    <option value="identification">Identification</option>
    <% } %>
  </select>

  <div class="container-fluid p-0 my-2 text-center">
    <div class="w-100 text-start d-flex flex-column question-type-update">
      <% if(findQuestion.tieQuestions[arr-1].tieQuestion.type === "trueFalse")
      {%> <% if(findQuestion.tieQuestions[arr-1].tieQuestion.answer === "true"){
      %>
      <div class="w-100 d-flex justify-content-between align-items-center type">
        <input
          type="radio"
          class="btn-check type"
          name="answer"
          id="option1"
          value="true"
          required
          checked
        />
        <label
          class="btn btn-primary btn-lg w-100 m-2 type rounded-0 p-5"
          for="option1"
          >True</label
        >

        <input
          type="radio"
          class="btn-check type"
          name="answer"
          id="option2"
          value="false"
          required
        />
        <label
          class="btn btn-danger btn-lg w-100 m-2 type rounded-0 p-5"
          for="option2"
          >False</label
        >
      </div>
      <% } else {%>
      <div class="w-100 d-flex justify-content-between align-items-center type">
        <input
          type="radio"
          class="btn-check type"
          name="answer"
          id="option1"
          value="true"
          required
        />
        <label
          class="btn btn-primary btn-lg w-100 m-2 type rounded-0 p-5"
          for="option1"
          >True</label
        >

        <input
          type="radio"
          class="btn-check type"
          name="answer"
          id="option2"
          value="false"
          required
          checked
        />
        <label
          class="btn btn-danger btn-lg w-100 m-2 type rounded-0 p-5"
          for="option2"
          >False</label
        >
      </div>
      <% } %> <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.type ===
      "multipleChoice") {%> <%
      if(findQuestion.tieQuestions[arr-1].tieQuestion.answer ===
      findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]){ %>

      <div
        class="w-100 d-flex justify-content-between align-items-center mb-2 type"
      >
        <input
          type="radio"
          id="first"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          onclick="updateRadioValue()"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          required
          checked
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="first-choice"
          name="choice1"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onkeypress="updateRadioValue()"
          placeholder="Enter first choice"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="second"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="second-choice"
          placeholder="Enter second choice"
          onkeypress="updateRadioValue()"
          name="choice2"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="third"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter third choice"
          onkeypress="updateRadioValue()"
          id="third-choice"
          name="choice3"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="fourth"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter fourth choice"
          onkeypress="updateRadioValue()"
          id="fourth-choice"
          name="choice4"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          required
        />
      </div>
      <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.answer ===
      findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]){ %>

      <div
        class="w-100 d-flex justify-content-between align-items-center mb-2 type"
      >
        <input
          type="radio"
          id="first"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="first-choice"
          name="choice1"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onkeypress="updateRadioValue()"
          placeholder="Enter first choice"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="second"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          onclick="updateRadioValue()"
          required
          checked
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="second-choice"
          placeholder="Enter second choice"
          onkeypress="updateRadioValue()"
          name="choice2"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="third"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter third choice"
          onkeypress="updateRadioValue()"
          id="third-choice"
          name="choice3"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="fourth"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter fourth choice"
          onkeypress="updateRadioValue()"
          id="fourth-choice"
          name="choice4"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          required
        />
      </div>

      <% } else if(findQuestion.tieQuestions[arr-1].tieQuestion.answer ===
      findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]){ %>

      <div
        class="w-100 d-flex justify-content-between align-items-center mb-2 type"
      >
        <input
          type="radio"
          id="first"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="first-choice"
          name="choice1"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onkeypress="updateRadioValue()"
          placeholder="Enter first choice"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="second"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="second-choice"
          placeholder="Enter second choice"
          onkeypress="updateRadioValue()"
          name="choice2"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="third"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          onclick="updateRadioValue()"
          required
          checked
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter third choice"
          onkeypress="updateRadioValue()"
          id="third-choice"
          name="choice3"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="fourth"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter fourth choice"
          onkeypress="updateRadioValue()"
          id="fourth-choice"
          name="choice4"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          required
        />
      </div>

      <% } else { %>

      <div
        class="w-100 d-flex justify-content-between align-items-center mb-2 type"
      >
        <input
          type="radio"
          id="first"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="first-choice"
          name="choice1"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[0]%>"
          onkeypress="updateRadioValue()"
          placeholder="Enter first choice"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="second"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          onclick="updateRadioValue()"
          required
          checked
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          id="second-choice"
          placeholder="Enter second choice"
          onkeypress="updateRadioValue()"
          name="choice2"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[1]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="third"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          onclick="updateRadioValue()"
          required
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter third choice"
          onkeypress="updateRadioValue()"
          id="third-choice"
          name="choice3"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[2]%>"
          required
        />
      </div>

      <div
        class="w-100 d-flex justify-content-between align-items-center my-2 type"
      >
        <input
          type="radio"
          id="fourth"
          class="form-check-input fs-2 me-2 type"
          style="aspect-ratio: 1/1"
          readonly
          name="answer"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          onclick="updateRadioValue()"
          required
          checked
        />
        <input
          type="text"
          class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
          placeholder="Enter fourth choice"
          onkeypress="updateRadioValue()"
          id="fourth-choice"
          name="choice4"
          value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.choices[3]%>"
          required
        />
      </div>

      <% } %> <% } else { %>
      <input
        type="text"
        class="form-control-lg w-100 type rounded-0 border border-2 border-secondary p-3"
        name="answer"
        placeholder="Enter answer"
        value="<%=findQuestion.tieQuestions[arr-1].tieQuestion.answer %>"
        required
      />
      <% } %>
    </div>
  </div>

  <div class="d-flex">
    <button
      type="submit"
      class="btn btn-success btn-lg my-2 rounded-0 p-3 w-50 m-2 fw-bold"
    >
      Save
    </button>
    <a
      href="/quiz/<%=findQuestion._id%>"
      class="btn btn-secondary btn-lg my-2 rounded-0 p-3 w-50 m-2 fw-bold"
      >Cancel</a
    >
  </div>
</form>
